.header {
    display: flex;
    column-gap: 20px;
}
.header_box {
    width: 200px;
    height: 400px;
    background-color: #0c29ff;
}
.kabobs {
    width: 420px;
    height: 300px;
    background-color: #1285ff;
    margin: 20px 0 20px 0;
}
.footer {
    display: flex;
    column-gap: 20px;
}
.box {
    width: 127px;
    height: 150px;
    background-color: #9543e3;
}