* {
    margin: 0;
    padding: 0;
}

.color-blue {
    background-color: #2269BB;
}

.h200 {
    height: 200px;
}

.wrap {
    width: 600px;
    margin: 0 auto;
}

.content {
    display: flex;
    column-gap: 10px;
    margin: 10px 0;
}

.content__box {
    flex-grow: 1;
    background-color: #16457A;
}

.footer {
    height: 500px;
}